body, html {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('../img/casino.jpg') no-repeat center center fixed; 
    background-size: cover;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #a4a4a4;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

div#result {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    color: #a4a4a4;
    margin-top: 20px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



#spin {
    margin-top: 10px;
    padding: 5px
}

#volumeBarContainer {
    width: 300px;
    height: 20px;
    background-color: #cac5c5;
    margin: 20px auto;
    border-radius: 30px;
}

#volumeBar {
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.6);
    height: 100%;
    background-color: green;
    width: 0%; 
    border-radius: 30px;
}

#everythingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    text-align: center;
    overflow: visible;
    max-height: 100vh;
    padding-bottom: 20px;
    padding: 20px
}

#slot-machine {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    padding-top: 20px;
    width: 100%; 
    max-width: 960px;
}

.reel {
    width: 100px;
    height: 100px;
    border: 2px solid #ffd700;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.75); 
    background: linear-gradient(145deg, rgba(255,215,0,0.8), rgba(255,165,0,0.8)); 
    display: inline-block;
    margin: 5px;
}

#winModal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.reel, .modal-content {
    margin: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#rulesBox {
    background-color: #dcd9d9;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 300px;
    margin: 20px auto; 
    position: relative; 
    right: 0px; 
    top: 10px; 
    border: 2px solid #ffd700;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.75); 
    background: linear-gradient(145deg, rgba(255,215,0,0.8), rgba(255,165,0,0.8));
}

#rulesBox li{
    margin-right: 20px;
    padding-right: 20px;
    
}

#rulesBox li:hover {
    color: #ffd700;
}

#rulesBox:hover {
    border: 2px solid #ffd700;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.75); 
    background: linear-gradient(145deg, rgba(146, 255, 131, 0.8), rgba(26, 255, 0, 0.8)); 
}

.reel.locked {
    border: 3px solid red; 
    opacity: 0.75; 
}