body {
    font-family: "Syne Mono", monospace;
    background-color: rgb(66, 46, 46);
    color: black;
    margin: 0;
    padding: 0;
}

header {
    font-family: "Rubik Mono One", monospace;
    font-size: larger;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

.intro{
    background-color: #f2f2f2;
    margin: 10px;
    border-radius: 8px 8px 8px 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.flex-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
}


.concert {
    background-color: #5e5e5e;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    align-items: center;
    justify-content: space-between;
    overflow-wrap: break-word;
}

.concert h2 {
    color: rgb(66, 46, 46);
    margin-bottom: auto;
    margin-top: auto;
}

/* concert = everything */
/* concert-info = title and date */
/* concert-description = description */
/* concert-footer = artists & repertoire */
.concert-info{
    text-align: center;
    background-color: #e6e6e6;
    color: rgb(66, 46, 46);
    border-radius: 8px 8px 8px 8px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.concert h3{
    margin-top: auto;
    margin-bottom: 10px;
}

.concert-date {
    font-weight: bold;
}

.concert-description {
    display: flex;
    align-items: center;
    padding: 15px;
    min-height: 420px;
    background-color: #eee; 
    border-radius: 8px 8px 8px 8px;
    margin: 10px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.concert-footer-info{
    display: flex;
    flex-direction: row;
    min-height: 200px;
    margin-left: auto;
}

.artists { 
    display: flex;
    background-color: #e6e6e6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 8px 8px 8px 8px;
    margin: 10px;
    padding: 10px;
    width: 40%;
    align-items: center;
}

.repertoire{
    display: flex;
    background-color: #e6e6e6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 8px 8px 8px 8px;
    margin: 10px;
    padding: 10px;
    width: 60%;
    align-items: center;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 400px) {
    .flex-grid{
        grid-template-columns: 1fr;

    }
    .concert, .concert-info, .concert-description, .artists, .repertoire{
        flex-direction: column;
        width: 100%; 
    }
}

/* Can't get the 400px media query to work :( */

@media screen and (min-width: 1501px) {
    .flex-grid {
        max-width: 1fr;
    }
}
